<ng-include src="'views/mainMenu.html'"></ng-include>
<h2>{{ vm.title }}</h2>

<form ng-class="(vm.formWasValidated) ? 'was-validated': ''" class="needs-validation" ng-submit="vm.sendForm()" novalidate>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="FCS">ФИО</label>
            <input ng-class="(vm.formModel.FCS.valid) ? 'is-valid': 'is-invalid'"  ng-model="vm.formModel.FCS.value"
                   type="text" class="form-control" id="FCS" ng-keyup="vm.validate()">
            <div ng-class="(vm.formModel.FCS.valid && vm.formWasValidated) ? 'valid-feedback': 'invalid-feedback'">
                {{vm.formModel.FCS.infoText}}
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="actualAddress">Фактический адрес</label>
            <input ng-class="(vm.formModel.actualAddress.valid) ? 'is-valid': 'is-invalid'" ng-model="vm.formModel.actualAddress.value"
                   type="text" class="form-control" id="actualAddress" ng-keyup="vm.validate()">
            <div ng-class="(vm.formModel.actualAddress.valid && vm.formWasValidated) ? 'valid-feedback': 'invalid-feedback'">
                {{vm.formModel.actualAddress.infoText}}
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="phoneNumber">Номер телефона</label>
            <input ng-class="(vm.formModel.phoneNumber.valid) ? 'is-valid': 'is-invalid'" ng-model="vm.formModel.phoneNumber.value"
                   ng-keyup="vm.validate()" type="text" class="form-control" id="phoneNumber" value="ФИО">
            <div ng-class="(vm.formModel.phoneNumber.valid && vm.formWasValidated) ? 'valid-feedback': 'invalid-feedback'">
                {{vm.formModel.phoneNumber.infoText}}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-4">
            <label for="service" >Услуга</label>

            <select id="packSelect" ng-model="vm.formModel.service.value" ng-class="(vm.formModel.service.valid) ? 'is-valid' : 'is-invalid'"
                    ng-change="vm.validate()" type="text" class="form-control" id="service" value="услуга">
                <option value="">Откройте это меню чтобы выбрать</option>
                <option value="Военизировання охрана">Военизировання охрана</option>
                <option value="Пультовая охрана">Пультовая охрана</option>
                <option value="Монтаж и техобслуживание">Монтаж и техобслуживание</option>
                <option value="Сопровождение грузов">Сопровождение грузов</option>
                <option value="Охрана объекта и промышленности">Охрана объекта и промышленности</option>
            </select>
            <div ng-class="(vm.formModel.service.valid) ? 'valid-feedback': 'invalid-feedback'">
                {{vm.formModel.service.infoText}}
            </div>
        </div>
        <div class="col-md-5 mb-4">
            <label for="CheIndex">Почтовый индекс</label>
            <input ng-class="(vm.formModel.CheIndex.valid) ? 'is-valid': 'is-invalid'" ng-model="vm.formModel.CheIndex.value"
                   ng-keyup="vm.validate()" type="text" class="form-control" id="CheIndex" >
            <div ng-class="(vm.formModel.CheIndex.valid && vm.formWasValidated) ? 'valid-feedback': 'invalid-feedback'">
                {{vm.formModel.CheIndex.infoText}}
            </div>
        </div>
        <div class="col-md-2 mb-4">
            <label for="date-start">Дата подачи обращения</label>
            <input ng-model="vm.formModel.dateFiling.value" type="date" class="form-control" id="date-start">

        </div>

    </div>
    <button ng-disabled="!vm.formWasValidated" class="btn btn-primary" type="submit">Изменить</button>
</form>

<div ng-show="vm.error.length" class="alert alert-danger" role="alert">
    {{vm.error}}
</div>